	<% @schemas.each_pair do |name,fields| %>
	<div class="relation">
		<div class="name"> <%= name %> </div>
		<div class="row">
		<% fields.each_pair do |col,type| %>
			<div class="column"><%= col %>,<%= type %></div>
		<% end %>
		</div>
		<%relation_tuples = @relations[name].all%>
		<%relation_tuples.each do |tuple| %>
			<div class="row">
			<%fields.keys.each do |col| %>
				<div class="column">
					<% if tuple[col].size>22 %>
						<%= "#{tuple[col][0..21]}..."%> 
					<%else%> 
						<%= tuple[col]%>
					<%end%></div>
			<%end%>
			</div>
		<%end %>		
	</div>
	<% end %>


