<div id="query_examples">
  <h3 class="query_title">Query Examples</h3>
  <a id="query_examples_button" type="submit" class="popUpButton nice-button">&nbsp+&nbsp</a>
  <div  class="query_view">
    <div class="query_examples">
      <% @described_queries.each do |query| %>
        <div class="drule">
          <a class="close" onclick="window.close_rule(<%=query.id%>);">x</a>
          <div class="description"><%=query.description%></div>
          <div class="id"> <%= query.id%> </div>
          <div class="rule">
            <%query.wdlrule.split(";").each do |line|%>
              <%= "#{line};"%> <br/>
            <%end%>
          </div>
        </div>
      <% end %>
    </div>
    <div id="custom_query">
      <%=text_area_tag 'rule' , nil, :placeholder => 'Write your own query here...', :height => 3, :escape=>false, :required => true, :id => 'rule_edit_query'%>
      <%=text_field_tag 'description' , nil, :placeholder => 'Optional Description..', :required => false, :id => 'description_edit_query'%>
      <input type="submit" value="Submit" onclick="window.custom_query();">
    </div>
  </div>
</div>
