<div id="update_examples">
	<h3 class="query_title">Rules</h3>
	<a id="update_examples_button" type="submit" class="popUpButton nice-button">&nbsp+&nbsp</a>
	<div  class="query_view">
	<div class="update_examples">
		<% @described_rules.each do |rule| %>
		<div class="drule">
			<div class="description"><%=rule.description%></div>
			<div class="id"><%=rule.id%></div>
			<div class="rule">
				<%rule.wdlrule.split(";").each do |line|%>
				<%= "#{line};"%> <br/>
				<%end%>
			</div>
		</div>
		<% end %>
	</div>
	<div id="custom_update">
			<%=text_area_tag 'rule' , nil, :placeholder => 'Write your own update here...', :height => 3, :escape=>false, :required => true, :id => 'rule_edit_update'%>
			<%=text_field_tag 'description' , nil, :placeholder => 'Optional Description..', :required => false, :id => 'description_edit_update'%>
			<input type="submit" value="Submit" onclick="window.custom_update();">
	</div>
	</div>
</div>
