<div class="opacity">
</div>
<div class="content"><%=notice%><%=alert%>
	<h1>Query#index</h1>
	<p>Find me in app/views/query/index.html.erb</p>
	<div id="query_forms">
		<div id="create_relation"><%= render 'create_relation'%></div>
		<div id="insert_tuple"><%= render 'insert_tuple'%></div>
	</div>
	<div id="list_relations"><%= render 'list_relations' %></div>
</div>