<div class="opacity">
</div>
<div class="content">
  <%if current_user%>
  <%= render 'query_examples'%>
  <%= render 'update_examples'%>
  <%= render 'extensional'%>
  <%= render 'intentional'%>
  <%else%>
    <div id="notlogged">You are not logged in! <%=link_to "Log in",:login%></div>
  <%end%>
</div>