<!-- Careful, the @program variable may be nil!-->
<div class="opacity">
</div>
<div class="content">
	<%if current_user%>
	<div class="notice"><%=  notice %></div>
	<div class="alert"><%=  alert %></div>
	<%if @program%><%#TODO Should we add this security? %>
        	<div id="program" class="name"><%=@program.name%></div>
		<div id="program" class="source">From file : <%="#{@program.source}#{@program.name}" %></div>
		<div id="program" class="author">Written by : <%=@program.author %></div><!--FIXME change inconsistency-->
		<div id="program" class="body">Program : <%=@program.data %> </div><!--FIXME change inconsistency-->
	<%else%>
		<div id="program" class="unavailable">Program was unavailable!</div>
	<%end%>
	<%else%>
		<div id="notlogged">You are not logged in! <%=link_to "Log in",'/'%></div>
	<%end%>
</div>