<!-- Careful, the @program variable may be nil!-->
<div class="opacity">
</div>
<div class="content">
  <%if current_user%>
    <div class="notice"><%=  notice %></div>
    <div class="alert"><%=  alert %></div>
    <%if @program%>
      <div class="program" id="name"><%=@program.name%></div>
      <div class="program" id="source">From file : <%="#{@program.source}#{@program.name}" %></div>
      <div class="program">Program :
        <pre id="text">
<%=render :file => @program.source%>
        </pre>
      </div>
    <%else%>
      <div class="program" id="unavailable">Program unavailable!</div>
    <%end%>
  <%else%>
    <div class="program" id="notlogged">You are not logged in! <%=link_to "Log in",'/'%></div>
  <%end%>
</div>