<!-- Careful, the @program variable may be nil!-->
<div class="opacity">
</div>
<div class="content">
	<div class="notice"><%=  notice %></div>
	<div class="alert"><%=  alert %></div>
	<%if @program%>
		<div id="program" class="name"><%=@program.name%></div>
		<div id="program" class="source">From file : <%="#{@program.source}#{@program.name}"%></div>
		<div id="program" class="author">Written by : <%=@program.author%></div>
		<div id="program" class="body">From file : <%=@program.data%></div>
	<%else%>
		<div id="program" class="unavailable">Program was unavailable!</div>
	<%end%>
</div>