<%=form_tag({ :controller => "wepic", :action => "update"},:method => 'put', :class => 'edit-form') do%>
<ul>
  <div class="field">
  	<%=label_tag 'title', nil%>
    <%=text_field_tag "title", nil, :required => true, :placeholder => 'What is the picture\'s name?', :id => "title_id"%>
  </div>
  <!-- <div class="field">
  	Date : <%=datetime_select("date", "on", :prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year'}, :default => { :hour => 23, :minute => 59 })%>
  </div> -->
  <div class="field">
  	<%=label_tag 'location', nil%>
    <%=text_field_tag "location", nil, :required => true, :placeholder => 'Where did you take this picture?'%>	
  </div>
  <div class="actions">
    <%= submit_tag 'Update picture' %>
  </div>
<% end %>
