<%= form_for(@contact, :html =>  {:multipart => true }) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this picture from being saved:</h2>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :contact%>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image, :required => true %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
