<%= form_for(@picture, :html =>  {:multipart => true }) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :required => true %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
<<<<<<< HEAD
    <%= f.file_field :image, :required => true%>
=======
    <%= f.file_field :image, :required => true %>
>>>>>>> emilien
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
