<div id="pictures">
	<div class="opacity">
	</div>
	<div class="content"><%= notice %>
		<div class="upload">
			<%= render 'upload'%>
		</div>
		<h2>My Pictures</h2>
		<div class="images">
			<% @pictures.each do |picture| %>
				<a href="<%='/pictures/'+picture.id.to_s%>">
					<div class="entry">
						<div class="title"><%=picture.title%></div>
						<div class="image"><%=image_tag picture.image.url(:thumb)%></div>
					</div>
				</a>
			<% end %>
		</div>
		<h2>Contact Pictures</h2>
		<div class="images">	
		</div>
	</div>
</div>
<div id="contacts">
	<div class="opacity"></div>
	<div class="content">
		<h2> Contacts </h2>
	</div>
</div>
