<%if current_user%>
<script text="text/javascript">
jQuery(document).ready(function(){
	window.chronJobComment = function(){
	  console.log('Comments on : ' + window.pictureId);
	  if(window.active_window){
	    window.getLatestComments(window.pictureId)
	  }
	  setTimeout (function(){return window.chronJobComment();},2000);
	}
	window.chronJobComment();
});
</script>
  <div id="pictures">
    <div class="opacity"></div>
    <div class="content">
      <%= render 'pictures'%>
      <div id="wepicbox-wrap" class="box_wrapper" style="min-width: 150px; min-height: 150px; top: 20px; left: 214px; display: none; position : fixed;">
        <div id="wepicbox-outer">
          <div id="wepicbox-bg-n" class="wepicbox-bg"></div>
          <div id="wepicbox-bg-ne" class="wepicbox-bg"></div>
          <div id="wepicbox-bg-e" class="wepicbox-bg"></div>
          <div id="wepicbox-bg-se" class="wepicbox-bg"></div>
          <div id="wepicbox-bg-s" class="wepicbox-bg"></div>
          <div id="wepicbox-bg-sw" class="wepicbox-bg"></div>
          <div id="wepicbox-bg-w" class="wepicbox-bg"></div>
          <div id="wepicbox-bg-nw" class="wepicbox-bg"></div>
          <div id="wepicbox-content" style="min-width: 150px; min-height: 150px; width:auto;height:auto;">
            <div class="opacity"></div>
            <div class="content">
              <div id = "upload_url" class=" box-content">
                <%= render 'upload_url'%>
              </div>
              <div id = "upload_file" class="box-content">
                <%= render 'upload_file'%>
              </div>
              <div id = "edit_picture_form" class="box-content">
                <%= render 'edit_picture'%>
              </div>
              <div id = "sort" class="box-content">
                <%= render 'sort'%>
              </div>
              <div id = "send-contact-to-contact-form" class="box-content">
                <%= render 'send_from_contact_to_contact'%>
              </div>
              <div id = "send-mine-to-contact-form" class="box-content">
                <%= render 'send_mine_to_contact'%>
              </div>
              <div id = "contact-sort" class="box-content">
                <%= render 'contact_sort'%>
              </div>
            </div>
          </div>
          <a type="submit" id="box-wrapper-close" class="button-close"></a>
        </div>
      </div>
    <%else%>
      <div class="opacity"></div>
      <div class="content"></div>
      <form>
      You are not logged in!<br>
      <%= render '/user_sessions/form' %>
      </form>
    </div>
  <%end%>
  <%if current_user%>
  </div>
  </div>
<%end%>

<% if current_user%>
  <div id="contact_tab">
    <div class="opacity"></div>
    <div class="content">
      <h3> Contacts </h3>
      <!-- <h3>SIGMOD group</h3> -->
      <%= render 'contacts'%>
    </div>
  </div>
<% end %>