<% if current_user%>
<script type="text/javascript">
	function getPictures(element) {
		var contacts = 'contacts/';
		var html = '';
		jQuery.ajax({
			url : contacts.concat(element.innerHTML, '/pictures'),
			data : {
				id : element.value
			},
			dataType : 'json',
			success : function(data) {
				if (data) {
					for (var key in data) {
						if (data.hasOwnProperty(key)) {
							html += '<a href="' + data[key]['href'] + '">';
							html += '<div class="entry">';
							html += '<div class="title">' + data[key]['title'] + '</div>'
							html += '<div class="image"><img alt="' + data[key]['alt'] + '" src="' + data[key]['src'] + '"></div>';
							html += '</div></a>';
							console.log(html);
						}
					}
					jQuery('#contact_pictures').html(html);
				}
			}
		});
	}

	function Select(element) {
		jQuery('.selected').attr('class', 'contact');
		element.className = 'selected';
		getPictures(element);
	}
	
	
</script>
<div id="pictures">
	<% end %>
	<div class="opacity"></div>
	<div class="content">
		<%if current_user%>
		<%= notice %>
		<!-- <div class="upload">
			<%= render 'upload'%>
		</div> -->
		<h2>My Pictures</h2>
		<a id="my_pictures_button" type="submit" class="popUpButton nice-button">+</a>
		<div id="my_pictures" class="images">	
			<% @pictures.each_with_index do |picture| %>
			<div class="entry">
				<div class="image">
					<%= link_to(image_tag(picture.image.url(:thumb)), picture.image.url(:small),:title => "#{picture.title}", :class => "fancybox", :rel=>"myPictures") unless picture.image.nil? %>
					<div id="metainf-<%=picture._id%>" class="metainf" style="display:none">
						<span id="location">
							<%picturelocation = PictureLocation.where(:_id=>picture._id).first%>
							<%=if picturelocation then picturelocation.location else 'unknown' end%>
						</span>
						<span id="owner"><%=picture.owner%></span>
						<span id="date"><%=picture.created_at.strftime("%m/%d/%y")%></span>
						<span id="rating">
							<%ratingTuple = Rating.where(:_id=>picture._id).first%>
							<%=if ratingTuple then ratingTuple.rating else 0 end%>
						</span>
						<span id="_id"><%=picture._id%></span>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<h2>Contact Pictures</h2>
		<a id="contact_pictures_button" type="submit" class="popUpButton nice-button">+</a>
		<div id="contact_pictures" class="images">
		</div>
        <div id="fancybox-wrap" class="box_wrapper" style="width: 356px; height: auto; top: 20px; left: 514px; display: none; position : fixed;">
    		<div id="fancybox-outer">
    			<div id="fancybox-bg-n" class="fancybox-bg"></div>
    			<div id="fancybox-bg-ne" class="fancybox-bg"></div>
    			<div id="fancybox-bg-e" class="fancybox-bg"></div>
    			<div id="fancybox-bg-se" class="fancybox-bg"></div>
    			<div id="fancybox-bg-s" class="fancybox-bg"></div>
    			<div id="fancybox-bg-sw" class="fancybox-bg"></div>
    			<div id="fancybox-bg-w" class="fancybox-bg"></div>
    			<div id="fancybox-bg-nw" class="fancybox-bg"></div>
    			<div id="fancybox-content" style="border-width: 10px; width: 336px; height: 336px;">
    				
    			</div>
    			<a type="submit" id="box-wrapper-close" class="button-close"></a>
    		</div>
        </div>		
		<%else%>
		<div id="notlogged">
			You are not logged in! <%= link_to "Log in",:login%>
		</div>
		<%end%>
	</div>
	<% if current_user %>
</div>
<%end%>

<% if current_user%>
<div id="contact_tab">
	<div class="opacity"></div>
	<div class="content">
		<h2> Contacts </h2>
		<%= render 'contacts'%>
	</div>
</div>
<% end %>
