<% if current_user%>
  <div id="pictures">
  <% end %>
  <div class="opacity">
  </div>
  <div class="content">
    <%if current_user%>
      <%= notice %>
      <div class="upload">
        <%= render 'upload'%>
      </div>
      <h2>My Pictures</h2>
      <div id="my_pictures" class="images">
        <% @pictures.each do |picture| %>
          <a href="<%='/pictures/'+picture.id.to_s%>">
            <div class="entry">
              <div class="title"><%=picture.title%></div>
              <div class="image"><%=image_tag picture.image.url(:thumb)%></div>
            </div>
          </a>
        <% end %>
      </div>
      <h2>Contact Pictures</h2>
      <div id="contact_pictures" class="images">

      </div>
    <%else%>
      <div id="notlogged">You are not logged in! <%=link_to "Log in",:login%> </div>
    <%end%>
  </div>
  <% if current_user %>
  </div>
<%end%>

<% if current_user%>
  <div id="contact_tab">
    <div class="opacity"></div>
    <div class="content">
      <h2> Contacts </h2>
      <%= render 'contacts'%>
    </div>
  </div>
<% end %>
