<div class="opacity"></div>
<div class="content">
	<p id="notice"><%= notice %></p>
	<div class="field">Title : <%=@picture.title%></div>
	<div class="field">Image : <%=image_tag @picture.image.url(:small)%></div>
	<form action="/pictures/<%=@picture.id%>/images" method="LINK">
		<input type="submit" value="Download image">
	</form>
<%= link_to 'Back', :wepic %>
</div>
