<div id="users">			
  <div class="opacity"></div>
  <div class="content">
    <% if !@users.nil? %>
      <% if @users.empty? %>
        <div id="user_prompt">
          <h2>Welcome to your Wepic machine!</h2>
          <%= render 'form' %>
        </div>
      <% elsif !current_user %>
        <div id="user_prompt">
          <h2>Welcome Back!</h2>
          <%= render '/user_sessions/form' %>
          <br/> <br/>
          <%=@config = Conf.peer%>
          <%= link_to "Log in with a different user", "#{@config['protocol']}://#{@config['ip']}:#{@config['web_port']}/"%>
        </div>
      <% else %>
        <div id="user_prompt">
          <%= link_to "Go back to Wepic", :wepic %>
        </div>
      <% end %>
    <% else %>
      <div id="user_prompt"> <h2>Users is nil</h2> </div>
    <% end %>
  </div>
</div>