<%# TODO: modularize protocols for redirection (http or else and urls)%>
<div class="admin">
<% @accounts.each do |account| %>
	<div class="field">
		<%= account.username %> is using port <%= account.port%> on <%= account.ip %>,
		<% if account.active %>
			<%= link_to "close server", :controller => "welcome", :action => "shutdown", :id => account %>
			<%= link_to "go to server", "#{properties['peer']['protocol']}://#{account.ip}:#{account.port}" %>
		<% else %>
			<%= link_to "start server", :controller => "welcome", :action => "start", :id => account %>
		<% end%>
	</div>
<% end %>
</div>