<div class="opacity"></div>
<div class="content">
 <div style='float:right;'>
	        	<%if !current_admin%>
	        		<a class="login" href="/admin_session/new">Admin login</a>
	        	<%else%>
	        	  Logged in as <strong><%= current_admin.login %></strong>
	  			  | <a class="register" href="/admin/new">Add an admin</a>
	  			  | <%= link_to "Logout", :admin_logout %>
		        <% end %>	
 </div>
  <%if flash[:notice]%>
  <div class="notice">
    <%= notice %>
  </div>
  <%end%>
  <%if flash[:alert]%>
  <div class="errors">
    <%= alert %>
  </div>
  <%end%>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="signin">
    <%= render 'login'%>
  </div>
  <%if current_admin%>
  <div class="list" id="peerlist-wrap" style="margin-top:30px;">
    <%= render 'list'%>
  </div>
  <div class="signin">
    <%= render 'scenario'%>
  </div>
  <%end%>
</div>
