<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<script>
//XXX: I am not sure if we should move this code elsewhere since it is very specific to this page, but at the same time,
//having javascript code spread out is not always a good idea.
function executeQuery() {
  $.ajax({
    url: "confirm/<%= @account.id%>",
    data : { id : <%= @account.id %>},
    dataType : 'json',
    success: function(data) {
      if (data) {
      	window.location = "http://<%=@account.ip%>:<%=@account.port%>"
      }
    }
  });
  	setTimeout(executeQuery, 3000); // you could choose not to continue on failure...
}


$(document).ready(function() {
  // run the first time; all subsequent calls will take care of themselves
  setTimeout(executeQuery, 1000);
});
</script>
<div class="opacity"></div>
<div class="content">
<h1>Waiting</h1>
<div class="notice"><%= notice%></div>
</div>