<%#*To find the current layout, Rails first looks for a file in
#app/views/layouts with the same base name as the controller. For example,
#rendering actions from the PhotosController class will use
#app/views/layouts/photos.html.erb (or app/views/layouts/photos.builder).
#If there is no such controller-specific layout, Rails will use
#app/views/layouts/application.html.erb or app/views/layouts/application.builder.
#If there is no .erb layout, Rails will use a .builder layout if one exists.
#Rails also provides several ways to more precisely assign specific layouts to
#individual controllers and actions.%>

<!DOCTYPE html>
<html>
  <head>
    <title>Wepic</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="nav" class="window960">
      <div class="opacity"></div>
      <div class="logos">
        <div id="webdamlogo"></div>
        <div id="inrialogo"></div>
      </div>
      <div class="content">
        <div id="title">
          <h1> <% if current_user %>
              <a href="/wepic">
                Welcome, <%= current_user.username%>!
              <% else %> <a href="/">
                  Welcome To Wepic!
                <% end %>
              </a>
          </h1>
        </div>
        <div id="register_login">
        	<%if !current_user%>
	        	<%if !current_admin%>
	        		<a class="login" href="/admin_session/new">Admin login</a>
	        	<%else%>
	  			  | <a class="register" href="/admin/new">Add an admin</a>
	  			  | <%= link_to "Logout", :admin_logout %>
		        <% end %>
	        <%else%>
	              <%= link_to "Logout", :logout %>
            <% end %>
        </div>
      </div>
    </div>
    <% if current_user %>
      <%
      @wepic_tab = "tab"
      @query_tab = "tab"
      @program_tab = "tab"
      @engine_tab = "tab"
      current_path = request.env['PATH_INFO']
      @wepic_tab = "selected_tab" if current_path=="/wepic" || current_path.include?("pictures")
      @query_tab = "selected_tab" if current_path=="/query"
      @program_tab = "selected_tab" if current_path=="/program"
      @engine_tab = "selected_tab" if current_path=="/engine"
    %>
    <%if flash[:notice]%><div id="notice"><%= notice %></div><%end%>
	<%if flash[:alert]%><div id="error"><%= alert %></div><%end%>
      <div id="tabs" class="window960">
        <div id="wepic_tab" class="<%=@wepic_tab%>">
          <div class="opacity"></div>
          <div class="content"><a href="/wepic">Wepic</a></div>
        </div>
        <div id="query_tab" class="<%=@query_tab%>">
          <div class="opacity"></div>
          <div class="content"><a href="/query">Query</a></div>
        </div>
        <div id="program_tab" class="<%=@program_tab%>">
          <div class="opacity"></div>
          <div class="content"><a href="/program">Program</a></div>
        </div>
        <div id="engine_tab" class="<%=@engine_tab%>">
          <div class="opacity"></div>
          <div class="content"><a href="/engine">Engine</a></div>
        </div>
      </div>
    <% end %>
    <div id="main" class="window960">
      <%= yield %>
    </div>
  </body>
</html>
