<!DOCTYPE html>
<html>
	<head>
		<title>Wepic</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="nav">
			<div class="opacity"></div>
			<div class="logos">
				<div id="webdamlogo"></div>
				<div id="inrialogo"></div>
			</div>
			<div class="content">
				<div id="title">
					<h1><a href="/"> <% if current_user %>
					Welcome, <%= current_user.username%>!
					<% else %>
					Welcome To Wepic!
					<% end %> </a></h1>
				</div>
				<div id="register_login">
					<% if current_user %>
					<% if is_admin(current_user.id)%>
					<%= link_to "Admin", admin_path%>
					<% end %>
					<%= link_to "Edit Profile", edit_user_path(current_user.id)%>
					<%= link_to "Logout", :logout%>
					<% else %>
					<%= link_to "Register", new_user_path%> |
					<%= link_to "Login", :login %>
					<% end %>
				</div>
			</div>
		</div>
		<div id="main" style="width:80%;left:10%;">
			<div class="opacity"></div>
			<div class="content">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
